

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'arial', serif;
    background-color: #2f2f2f; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
    
  .navigation {
    background-color: #3b3939; 
    padding: 1rem;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  .navigation a {
    color: #fffafa;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  
  .spamdetector {
    background-color: #333;
    padding: 2rem;
    border: 1px solid #555;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 50%;
    margin: 0 auto;
  }
  
  .h1 {
    font-size: 24px;
    margin-bottom: 1rem;
    text-align: center; 
    color: whitesmoke;
    border: 0px solid #ccc; 
    border-radius: 0px; 
    font-family: Arial, sans-serif; 
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="file"] {
    padding: 1rem;
    border: 1px solid #555; 
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: #444; 
    color: #fff;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff; 
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41; 
  }
  
  .right {
    float: right;
    margin: 2rem;
  }
  
  .fake {
    background-color: #555; 
    padding: 1rem;
    border: 1px solid #666;
    border-radius: 5px;
    width: 100px;
    height: 100px;
  }
  
  
  .footer {
    background-color: #444; 
    padding: 1rem;
    text-align: center;
    color: #66d9ef;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
